<style type="text/css">
  .container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    border: 1px dotted black;
  }
  th {
    text-align: left;
  }
</style>

<div class="container">
  <h1>List Mania!</h1>
  <p>Sort this stuff:</p>

  <ul class="sortable-list">
    <li>Item A</li>
    <li>Item B</li>
    <li>Item C</li>
  </ul>
</div>

  </ul>
</div>
